<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sntConfig">
      <section name="databaseGroups" type="Snt.Framework.Configuration.DatabaseSection,Snt.Framework"/>
    </sectionGroup>
  </configSections>
  <sntConfig>
    <databaseGroups>
      <databaseGroup databaseType="SqlServer" databaseName="Snt.Framework.Data.SqlServer.SqlServerDatabase" assemblyName="Snt.Framework.Data.SqlServer">
        <database key="webmanager" connectionString="Data Source=10.10.5.228:3000;Initial Catalog=HXAGV_DB_A19126;User ID=sa;Password=Huaxiao@123" accessName="BaseBusiness.BaseAccess" assemblyName="BaseBusiness"/>
      </databaseGroup>
    </databaseGroups>
  </sntConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>