<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="sntConfig">
      <!--节申明：节名称，节映射(className,classLibrary)-->
      <section name="databaseGroups" type="Snt.Framework.Configuration.DatabaseSection,Snt.Framework"/>
    </sectionGroup>
    <sectionGroup name="servicesConfig">
      <section name="servicesGroups" type="Hnt.PlcListener.Entity.Configuration.ServiceSection,Hnt.PlcListener"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <sntConfig>
    <!--节实现-->
    <databaseGroups>
      <databaseGroup databaseType="SqlServer" databaseName="Snt.Framework.Data.SqlServer.SqlServerDatabase" assemblyName="Snt.Framework.Data.SqlServer">
        <!--一个数据库一个database-->
        <database key="DB1" connectionString="Data Source=.;Initial Catalog=Hnt_StackTray;User ID=sa;Password=sa" accessName="Hnt.Business.Access.BaseAccess" assemblyName="Hnt.Business"/>
        <database key="DB2" connectionString="Data Source=.;Initial Catalog=Hnt_DeviceStatus;User ID=sa;Password=sa" accessName="Hnt.PlcListener.StationData.ListenerAccess" assemblyName="Hnt.PlcListener"/>
      </databaseGroup>
    </databaseGroups>
  </sntConfig>

  <!--自定义plc监听配置-->
  <servicesConfig>
    <servicesGroups>
      <!--配置调用数据库节-->
      <statusConfig>
        <!--状态分类，不同设备使用不同状态字典-->
        <!--devicetype name表示device指定的状态名称-->
        <deviceType name="statusType1">
          <deviceTypeInfo>
            <!--key表示device状态 value表示数值状态 text表示描述-->
            <add key="Wait" value="0" text="空闲"></add>
            <add key="Running" value="1" text="作业中"></add>
            <add key="Error" value="2" text="故障"></add>
            <add key="Alarm" value="3" text="报警"></add>
          </deviceTypeInfo>
        </deviceType>
      </statusConfig>
      <!--程序运行本机IP信息以及端口信息-->
      <workStationGroups>
        <!--工位信息，建日志记录表时按key开头-->
        <workStation key="StackTray" description="叠盘机">
          <services>
            <service key="1" value="" port="">
              <devices>
                <device key="StackTray" ip="10.2.1.201" statusType="statusType1" name="叠盘机" deviceType="S7_1200">
                  <addresses>
                    <address key="trayArrivedAddr" value="DB306,I0" type="L" firstValueChange="true" invalidZero="true" isDeviceState="Y" description="请求扫码">
                      <reads>
                        <read value="1" presentDescription="无托盘" historyDescription="无托盘"></read>
                        <read value="2" presentDescription="请求扫码" historyDescription="请求扫码"></read>
                      </reads>
                    </address>

                    <address key="scanCodeFeedbackAddr" value="DB306,I2" type="W" isDeviceState="Y" description="扫码反馈">
                      <writers>
                        <write value="1" target="scanCodeFeedbackAddr" targetKey="Wait"></write>
                        <write value="2" target="scanCodeFeedbackAddr" targetKey="Running"></write>
                        <write value="3" target="scanCodeFeedbackAddr" targetKey="Running"></write>
                        <write value="4" target="scanCodeFeedbackAddr" targetKey="Error"></write>
                      </writers>
                      <reads>
                        <read value="1" presentDescription="原始状态" historyDescription="原始状态"></read>
                        <read value="2" presentDescription="扫码成功，混批" historyDescription="扫码成功，混批"></read>
                        <read value="3" presentDescription="扫码成功，不混批" historyDescription="扫码成功，不混批"></read>
                        <read value="4" presentDescription="扫码异常" historyDescription="扫码异常"></read>
                      </reads>
                    </address>

                    <address key="scanErrorCodeAddr" value="DB306,I4" type="W" isDeviceState="Y" description="异常信息">
                      <writers>
                        <write value="1" target="scanErrorCode" targetKey="Wait"></write>
                        <write value="2" target="scanErrorCode" targetKey="Running"></write>
                        <write value="3" target="scanErrorCode" targetKey="Running"></write>
                        <write value="4" target="scanErrorCode" targetKey="Error"></write>
                        <write value="5" target="scanErrorCode" targetKey="Error"></write>
                      </writers>
                      <reads>
                        <read value="1" presentDescription="原始状态" historyDescription="原始状态"></read>
                        <read value="2" presentDescription="扫码失败" historyDescription="扫码失败"></read>
                        <read value="3" presentDescription="与叠盘机内缓存托盘码重复" historyDescription="与叠盘机内缓存托盘码重复"></read>
                        <read value="4" presentDescription="与对应立体库内既有托盘码重复" historyDescription="与对应立体库内既有托盘码重复"></read>
                        <read value="5" presentDescription="查不到批次信息" historyDescription="查不到批次信息"></read>
                      </reads>
                    </address>

                    <address key="requestBindDataAddr" value="DB306,I6" type="L" firstValueChange="true" invalidZero="true" isDeviceState="Y" description="请求数据绑定">
                      <reads>
                        <read value="1" presentDescription="原始状态" historyDescription="原始状态"></read>
                        <read value="2" presentDescription="请求数据绑定（自动）" historyDescription="请求数据绑定（自动）"></read>
                        <read value="3" presentDescription="请求数据绑定（手动）" historyDescription="请求数据绑定（手动）"></read>
                        <read value="4" presentDescription="请求清除数据" historyDescription="请求清除数据"></read>
                      </reads>
                    </address>

                    <address key="trayCountAddr" value="DB306,I8" type="L" isDeviceState="Y" description="托盘数量">
                      <reads>
                        <read value="99" presentDescription="原始状态" historyDescription="原始状态"></read>
                        <read value="1" presentDescription="叠盘机处有1个托盘" historyDescription="叠盘机处有1个托盘"></read>
                        <read value="2" presentDescription="叠盘机处有2个托盘" historyDescription="叠盘机处有2个托盘"></read>
                      </reads>
                    </address>

                    <address key="bindDataResultAddr" value="DB306,I10" type="W" description="托盘数据处理结果">
                      <reads>
                        <read value="1" presentDescription="原始状态" historyDescription="原始状态"></read>
                        <read value="2" presentDescription="托盘数据绑定完成" historyDescription="托盘数据绑定完成"></read>
                        <read value="3" presentDescription="托盘数量匹配异常" historyDescription="托盘数量匹配异常"></read>
                        <read value="4" presentDescription="清除数据成功" historyDescription="清除数据成功"></read>
                      </reads>
                    </address>
                  </addresses>
                </device>
              </devices>
            </service>
          </services>
        </workStation>
      </workStationGroups>
    </servicesGroups>
  </servicesConfig>
  <appSettings>
    <!--数据库前缀-->
    <add key="prefixTable" value="test"/>
    <!--叠盘数量-->
    <add key="trayNumber" value="2"/>
    <!--是否验证混批，1为验证否则不验证-->
    <add key="isBatchValid" value="1"/>
    <!--是否验证数据，1为验证否则不验证-->
    <add key="isTrayCodeValid" value="1"/>
    <!--其他数据库连接信息-->
    <add key="MySQLConnection1" value="Data Source=218.168.51.155;Initial Catalog=db_bw_16042;User ID=yquser;Password=root"/>
    <add key="MySQLConnection2" value="Data Source=218.168.51.156;Initial Catalog=db_bw_16042;User ID=yquser;Password=root"/>
    <!--扫码枪Ip-->
    <add key="ScanerIP" value="10.2.1.240"/>
    <!--扫码枪型号-->
    <add key="ScanerModel" value="DataLogic_MARTRIX210N"/>
    <!--窗体标题-->
    <add key="title" value="45度叠盘机"/>
    <!--叠盘次数-->
    <add key="stackNumber" value="1"/>
  </appSettings>
</configuration>
