<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SystemConfig" type="Business.Framework.Configuration.ServerSection,Business.Framework"/>
  </configSections>
  <SystemConfig>
    <Server>
      <database key="webmanager" connectionString="Data Source=.;Initial Catalog=WMS_Manager;User ID=sa;Password=sa" accessName="JJE_Business.Access.StoreAccess" assemblyName="JJE_Business"/>
      <database key="KYTY" connectionString="Data Source=192.168.2.102;Initial Catalog=UFDATA_010_2015;User ID=MES_010ZT_R;Password=SH890?ab" accessName="JJE_Business.Access.BaseAccess" assemblyName="JJE_Business"/>
    </Server>
  </SystemConfig>
  <appSettings>
    <add key="Printer" value="ZDesigner ZT230-300dpi ZPL"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>